<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.selly.sellyapp" android:installLocation="auto" android:versionCode="1" android:versionName="1.0.1">
	<!-- SDK -->
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<!-- Permissions -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Application -->
	<application android:icon="@mipmap/icon" android:label="@string/app_name_string" android:theme="@style/Theme.Main" android:debuggable="true"></application>
</manifest>